/* Remove margens e preenchimentos padrão, e ajusta o box-sizing para incluir bordas e preenchimentos no tamanho total */

.carrossel_galeria {
  display: flex;
  padding: 0 px;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-color: #658795;
}

.galeria {
  height: 375px;
  max-width: 100%;
  /* Define a largura máxima */
  width: 100%;
  /* Preenche a largura total */
  position: relative;
  /* Permite posicionamento absoluto dos filhos */
  display: flex;
  /* Define layout flexível */
  box-shadow: none;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -10px;
}

.galeria i{
  display: none;
}

/* Define o layout do carrossel como uma grade horizontal */
.galeria .carousel_gl {
  display: grid;
  grid-auto-flow: column;
  /* Define o fluxo das colunas */
  grid-auto-columns: calc((100vw / 5));
  /* Define a largura de cada coluna */
  overflow-x: auto;
  /* Permite rolagem horizontal */
  scroll-snap-type: x mandatory;
  /* Alinhamento suave ao rolar */
  border-radius: 8px;
  /* Bordas arredondadas */
  scroll-behavior: smooth;
  /* Rolagem suave */
  scrollbar-width: none;
  /* Remove a barra de rolagem no Firefox */
  background-color: transparent;
  box-shadow: none;
}

/* Remove a barra de rolagem no Chrome */
.carousel_gl::-webkit-scrollbar {
  display: none;
}

/* Remove a transição de rolagem */
.carousel_gl.no-transition {
  scroll-behavior: auto;
}

/* Ajusta o comportamento do carrossel enquanto arrastando */
.carousel_gl.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

/* Altera o cursor e impede a seleção de texto enquanto arrastando */
.carousel_gl.dragging .cards {
  cursor: grab;
  user-select: none;
}

/* Centraliza os elementos dentro do carrossel */
.carousel_gl :where(.cards, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estiliza os cartões do carrossel */
.carousel_gl .cards {
  scroll-snap-align: start;
  /* Garante que cada cartão fique alinhado ao início */
  height: 342px;
  /* Altura dos cartões */
  list-style: none;
  /* Remove os marcadores de lista */
  background: transparent;
  /* Fundo branco */
  cursor: pointer;
  /* Define o cursor como pointer */
  padding-bottom: 15px;
  /* Espaço inferior */
  flex-direction: column;
  /* Coloca os elementos verticalmente */
  border-radius: 8px;
  /* Bordas arredondadas */
  border: none;
  /* Remove a borda */
}

/* Define a área da imagem dentro do cartão */
.cards .img {
  position: relative;
  /* Permite posicionamento dos elementos internos */
  width: 100%;
  /* Largura relativa */
  height: auto;
  /* Altura ajustada automaticamente */
}

/* Estiliza a imagem normal (padrão) */
.cards .img img.normal-img {
  width: 100%;
  /* Largura total */
  height: auto;
  /* Altura proporcional */
  object-fit: cover;
  /* Ajusta a imagem para cobrir o espaço */
  transition: opacity 0.5s ease-in-out;
  /* Transição suave de opacidade */
}

/* Ajustes de layout para telas menores que 900px */
@media screen and (max-width: 900px) {
  .galeria .carousel_gl {
    grid-auto-columns: calc((100% / 2) + 9px);
    /* Reduz a largura das colunas */
  }
}

/* Ajustes de layout para telas menores que 600px */
@media screen and (max-width: 600px) {
  .galeria .carousel_gl {
    grid-auto-columns: calc((100% / 2) + 15px);
    /* Reduz a largura das colunas */
  }
}